input[type=text] {
	width: 190px;
}

.form {
	display: block;
	margin-top: 20px;
}

.label {
	display: inline;
	font-weight: bold;
	width: 120px;
}

.value {
	display: flex;
	flex-direction: row;
	margin-bottom: 3px;
}

#container {
	display: flex;
	flex-direction: column;
}